@use '../abstracts/mixins' as mxn;

.intro-home {
	--bg-left: url('../assets/backgrounds/bg-pattern-home-1.svg');
	--bg-left-position: -10rem clamp(3.2rem, 6.25vw, 4.8rem);
	--bg-bottom: url('../assets/backgrounds/bg-pattern-home-2.svg');
	--bg-bottom-position: bottom center;

	background-image: var(--bg-bottom);
	background-repeat: no-repeat;
	background-position: bottom center;

	@include mxn.mq(large) {
		--bg-bottom-position: bottom right 16.5rem;
		background-image: var(--bg-left), var(--bg-bottom);
		background-repeat: no-repeat, no-repeat;
		background-position: var(--bg-left-position), var(--bg-bottom-position);
	}
}

.features-section {
	--bg-image: url('../assets/backgrounds/bg-pattern-home-3.svg');
	--vertical-position: top;
	--horizontal-position: right -10rem;

	background-image: var(--bg-image);
	background-repeat: no-repeat;
	background-position: var(--vertical-position) var(--horizontal-position);
	@include mxn.mq(large) {
		--vertical-position: bottom;
	}

	.section-heading {
		padding-inline-end: 8.8rem;
	}
}

.testimonials-section {
	--bg-image-top-left: url('../assets/backgrounds/bg-pattern-home-4-about-3.svg');
	--bg-top-left-position: top left;
	--bg-image-bottom-right: url('../assets/backgrounds/bg-pattern-home-5.svg');
	--bg-bottom-right-position: bottom right;

	background-image: var(--bg-image-top-left), var(--bg-image-bottom-right);
	background-repeat: no-repeat, no-repeat;
	background-position: var(--bg-top-left-position), var(--bg-bottom-right-position);

	.section-heading {
		margin-block-end: 4.8rem;
		@include mxn.mq(medium) {
			padding-inline: 1.75em;
		}
		@include mxn.mq(large) {
			margin-block-end: 5.6rem;
		}
	}
}
