@use '../abstracts/mixins' as mxn;

.padding-top-medium-lg {
	@include mxn.mq(large) {
		padding-block-start: 5.6rem;
	}
}

.section-spacer {
	padding-block: clamp(10rem, 12.5vw, 14rem);

	@include mxn.max-mq(medium) {
		&[data-spacer='tight'] {
			padding-block: 6.4rem;
		}
		&[data-spacer='medium'] {
			padding-block: 11.6rem;
		}
		&[data-spacer='loose'] {
			padding-block-start: 14rem;
			padding-block-end: 16.4rem;
		}
	}
}
